#search {
    text-align: center;
}

.navbar {
    background-color:#343a40;
    color: antiquewhite;
}

.row.content {
    height: 450px
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 400px;
    padding: 30px 40px;
    display: inline-block;
}

h1 {
    font-weight: bolder;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(163, 159, 159);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #134f61;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3a1a3d;
}

footer {
    background-color:#343a40;
    color:antiquewhite;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    border-radius: 8px;
  }

.card {
    margin: 1%;
}