#search {
  text-align: center;
}
#UserSearch {
  width: 800px;
}

.navbar {
  background-color: #343a40;
  color: antiquewhite;
}
.navbar-brand {
  font-family: "Bangers", cursive;
  font-size: 1.85rem;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row.content {
  min-height: 450px;
}
.navbar-brand {
  float: right;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 400px;
  padding: 30px 40px;
  display: inline-block;
  text-align: center;
}

#cardbutton1,
#cardbutton2,
#cardbutton3,
#cardbutton4,
#cardbutton5,
#cardbutton6 {
  width: 18rem;
  height: 18rem;
}

h1 {
  font-weight: bolder;
  text-align: center;
}
h2 {
  font-weight: bolder;
  text-align: center;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(163, 159, 159);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

footer {
  background-color: #343a40;
  color: antiquewhite;
  padding: 5px;
  width: 100%;
  position: static;
  bottom: 0px;
}

.diagram {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 400px;
}

.card {
  margin: 1%;
}

a.btn {
  color: #fff;
  background: #343a40;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  height: 10%;
  width: 15%;
}

.modal {
  text-align: center;
  font-weight: bold;
  max-height: 100px;
}

.btn {
  margin-right: 5px;
}



  
.error{
  outline: 1px solid red;
}   

@media only screen and (max-width: 600px) {
  #cardbutton1,
  #cardbutton2,
  #cardbutton3,
  #cardbutton4,
  #cardbutton5,
  #cardbutton6 {
    width: 10rem;
    height: 10rem;
  }
}

